/* Main page Mobile */
.ham-container {
    display: none;
}

@media all and (max-width: 768px){

      .ham-container {
        display: inline;
    }
      .ham-container .navbar {
        width: 200px;
        height: 100%;
        background-color: #22262a;
        position: fixed;
        top: 0;
        right: -300px;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transition: right 0.8s cubic-bezier(1, 0, 0, 1);
        transition: right 0.8s cubic-bezier(1, 0, 0, 1);
        z-index: 15;
    }
      .ham-container .change {
        right: 0;
    }
      .ham-container .hamburger-menu {
        width: 35px;
        height: 30px;
        position: fixed;
        top: 50px;
        right: 20px;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
      .ham-container .hamburger-menu .line {
        width: 100%;
        height: 3px;
        background-color:#4b6cc1;
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
    }
      .ham-container .change .line-1 {
        -webkit-transform: rotateZ(-405deg) translate(-8px, 6px);
                transform: rotateZ(-405deg) translate(-8px, 6px);
    }
      .ham-container .change .line-2 {
        opacity: 0;
    }
      .ham-container .change .line-3 {
        -webkit-transform: rotateZ(405deg) translate(-8px, -6px);
                transform: rotateZ(405deg) translate(-8px, -6px);
    }
      .ham-container .nav-list {
        text-align: right;
    }
      .ham-container .nav-list .nav-item {
        list-style: none;
        margin: 25px;
    }
      .ham-container .nav-list .nav-item .nav-link {
        text-decoration: none;
        font-size: 22px;
        color: #eee;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: relative;
        padding: 3px 0;
    }
      .ham-container .nav-link::before,
      .ham-container .nav-link::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #4b6cc1;
        position: absolute;
        left: 0;
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: -webkit-transform 0.5s;
        transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s;
    }
      .ham-container .nav-link::after {
        bottom: 0;
        -webkit-transform-origin: right;
                transform-origin: right;
    }
      .ham-container .nav-link::before {
        top: 0;
        -webkit-transform-origin: left;
                transform-origin: left;
    }
      .ham-container .nav-link:hover::before,
      .ham-container .nav-link:hover::after {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }
      .desktop-nav {
        display: none;
    }
}








@media all and (max-width: 991px) {
    .left-box{
        margin-top: -40px;
    }
    
    .half-img2 {
        margin-top: 100px;
    }

    .label {
        font-size: 30px;
        text-align: center;
        margin-top: 15px;
    }

    .title2 {
        position: relative;
        top: 100px;
    }
    
    .skills-heading {
        text-align: center;
    }

    .skill-label {
        font-size: 24px;
        text-align: left;
    }

    .skill-label {
        font-size: 24px;
        margin-left: 15%;
    }


    .skills-list li {
        margin-left: 35%;
        font-size: 18px;
        line-height: 26px;
    }
}

@media all and (max-width: 768px) {
    .nav-links li a {
        font-size: 20px;
    }
    
    .my-name {
        font-size: 75px;
        line-height: 100px;
        margin: 20px;
    }
    
    .paragraph-intro {
        font-size: 25px;
        line-height: 55px;
    }

    .projects-btn {
        padding: 12px;
        font-size: 16px;
    }
}

/* Projects Media Query */
@media screen and (max-width: 768px) {
    .project-img1 {
        height: 400px;
        width: 100%;
    }

    .right-box{ 
        text-align: center;
        position: relative;
        top: 50px;
    }
    
    .right-projects-btn {
        font-size: 16px;
    }

    .project-img2 {
        height: 400px;
        width: 100%;
    }
    
    .left-box{ 
        text-align: center;
    }
    
    .left-projects-btn {
        position: relative;
        font-size: 16px;
    }

    .my-container {
        text-align: center;
    }
    
    .half-img1 {
        height: 400px;
        width: 100%;
        margin-top: 40px;
    }
    
    .half-img2 {
        height: 400px;
        width: 100%;
        margin-top: 40px;
    }
    
    .title1 {
        margin: 10px;
        font-size: 20px;
        position: relative;
        top: 30px;
    }
    
    .title2{
        margin-top: 150px;
        font-size: 20px;
        position: relative;
        top: 30px;
    }
    
    .section-btn{
        font-size: 16px;
    }
}


/* About Page Media Queries */
@media screen and (max-width: 768px) {
    .divisor {
        height: 1px;
        position: relative;
        top: -45%;
        left: 25%;
    }

    .paragraph {
        font-size: 18px;
    }

    .hexagon-img1 {
        height: 150px;
        width: 150px;
    }

    .hexagon-img2 {
        height: 150px;
        width: 150px;
    }

    .hexagon-img3 {
        height: 150px;
        width: 150px;
    }

    .hexagon-img4 {
        width: 250px;
        height: 250px;
    }

    .label {
        font-size: 28px;
        text-align: center;
        margin-top: 15px;
    }

    .skills-heading {
        text-align: center;
        font-size: 18px;
        margin: 15px;
    }

    .skill-label {
        font-size: 20px;
        text-align: left;
        margin-left: 15%;
    }

    .skills-list li {
        font-size: 14px;
        line-height: 18px;
    }
}



/* Contact Page */
@media screen and (max-width: 768px) {
    .contact-page {
        background-color: #22262a;
    }

    .email-heading {
        font-size: 20px;
    }

    .contact-btn {
        font-size: 16px;
    }

    .social-menu ul  li .fa {
        font-size: 18px;
        line-height: 45px;
    }

    .social-menu ul li a { 
        width: 45px;
        height: 45px;
    }
}


/* Footer Section */
@media screen and (max-width: 768px) {
    footer {
        font-size: 14px;
        padding: 7px;
    }
}



























/* Main page Mobile */
@media all and (max-width: 430px) {
    .nav-links li a {
        font-size: 17px;
    }
    
    .my-name {
        font-size: 56px;
        line-height: 60px;
    }
    
    .paragraph-intro {
        font-size: 22px;
        line-height: 25px;
    }

    .projects-btn {
        padding: 10px 15px;
        font-size: 16px;
        position: relative;
        top: 10px;
    }
}

/* Projects Media Query */
@media screen and (max-width: 430px) {
    .projects-page {
        height: 400vh;
    }

    .project-img1 {
        height: 325px;
        width: 100%;
    }

    .desc-text {
        font-size: 18px;
    }

    .right-box{ 
        text-align: center;
        padding: 30px;
        font-size: 12px;
        position: relative;
        top: -50px;
    }

    .right-box h2{
        font-size: 24px;
    }
    
    .right-projects-btn {
        font-size: 16px;
        position: relative;
        top: 12px;
        padding: 10px 15px;
    }

    .project-img2 {
        height: 325px;
        width: 100%;
        position: relative;
        top: -200px;
    }
    
    .left-box{ 
        text-align: center;
        padding: 30px;
        font-size: 12px;
        position: relative;
        top: -140px;
    }

    .left-box h2{
        font-size: 24px;
    }
    
    .left-projects-btn {
        font-size: 16px;
        position: relative;
        top: 12px;
        padding: 10px 15px;
    }

    .my-container {
        text-align: center;
    }
    
    .half-img1 {
        height: 300px;
        width: 100%;
        margin-top: -250px;
    }
    
    .half-img2 {
        width: 100%;
        height: 300px;
        margin-top: 10px;
    }
    
    .title1 {
        margin: 10px;
        font-size: 18px;
        position: relative;
        top: -250px;
    }
    
    .title2{
        font-size: 18px;
        position: relative;
        top: 20px;
    }
    
    .section-btn{
        font-size: 16px;
        padding: 10px 15px;
    }
}


/* About Page Media Queries */
@media screen and (max-width: 430px) {
    .divisor {
        height: 1px;
        position: relative;
        top: -40%;
        left: 25%;
    }

    .label {
        font-size: 20px;
        margin-top: 10px;
    }

    .paragraph {
        font-size: 18px;
    }

    .hexagon-img1 {
        height: 140px;
        width: 140px;
    }

    .hexagon-img2 {
        height: 140px;
        width: 140px;
    }

    .hexagon-img3 {
        height: 140px;
        width: 140px;
    }

    .hexagon-img4 {
        width: 225px;
        height: 225px;
    }

    .label {
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
    }

    .skills-heading {
        text-align: center;
        font-size: 18px;
        margin: 10px 0px 25px 0px;
    }

    .skill-label {
        font-size: 22px;
        text-align: left;
        position: relative;
        left: -15px;
    }

    .skills-list li {
        text-align: left;
        font-size: 14px;
        line-height: 18px;
        position: relative;
        left: -15px;
    }
}


/* Contact Page */

@media screen and (max-width: 430px) {
    .contact-page {
        height: 38vh;
    }

    .container-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35vh;
        position: relative;
        top: 8px;
    }

    .email-heading {
        font-size: 21px;
    }

    .contact-btn {
        font-size: 20px;
        padding: 5px 15px;
    }

    .social-menu ul  li .fa {
        font-size: 24px;
        line-height: 50px;
    }

    .social-menu ul li a { 
        width: 50px;
        height: 50px;
        position: relative;
        bottom: 25px;
    }
}


/* Footer Section */
@media screen and (max-width: 380px) {
    .ham-container .hamburger-menu {
        position: fixed;
        right: 20px;
    }

    .desc-text {
        font-size: 14px;
    }

    .paragraph {
        font-size: 14px;
    }

    .contact-page {
        height: 40vh;
    }

    .skills-heading {
        text-align: center;
        font-size: 18px;
    }

    .skills-list li {
        text-align: left;
        font-size: 12px;
        line-height: 18px;
    }

    .hexagon-img1 {
        height: 125px;
        width: 125px;
    }

    .hexagon-img2 {
        height: 125px;
        width: 125px;
    }

    .hexagon-img3 {
        height: 125px;
        width: 125px;
    }

    .container-flex {
        height: 40vh;
        position: relative;
        top: 18px;
    }

    .email-heading {
        font-size: 18px;
    }

    .contact-btn {
        font-size: 16px;
        padding: 5px 15px;
    }

    .social-menu ul  li .fa {
        font-size: 20px;
        line-height: 35px;
    }

    .social-menu ul li a { 
        width: 35px;
        height: 35px;
    }
}