@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", sans-serif;
    list-style: none;
}

/* Main Page */
nav {
    height: 0px;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.intro {
    height: 100vh;
    width: 100%;
    background: #22262a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
}

.my-name {
    font-size: 100px;
    line-height: 100px;
    margin: 20px;
}

.paragraph-intro {
    font-size: 50px;
    line-height: 65px;
}

.projects-btn {
    text-decoration: none;
    color: white;
    border: 2px solid #4b6cc1;
    padding: 15px;
    position: relative;
    top: 85px;
    font-size: 22px;
}

.projects-btn:hover {
    opacity: 0.9;
    color: #e0e0e0;
}


/* Projects page */
.projects-page {
    height: 250vh;
    background-color: #e0e0e0;
}

.projects-container {
    text-align: center;
    background-color: #e0e0e0;
    width: auto;
}

.projects-my-row{
    margin-bottom: 75px;
}

.project-img1 {
    height: 500px;
    width: 100%;
    margin-top: 40px;
}

.right-box{ 
    position: relative;
    max-width: 600px;
    height: auto;
    /* border: 2px solid #4b6cc1; */
    margin: 100px auto;
    padding: 40px;
    box-sizing: border-box;
}

.right-projects-btn {
    color: white;
    background-color: #22262a;
    border: 2px solid #4b6cc1;
    padding: 15px;
    font-size: 18px;
    position: relative;
    top: 20px;
}

.right-projects-btn:hover {
    background-color:#22262a;
    color: white;
    opacity: .9;
}

/* left Section */
.project-img2 {
    height: 500px;
    width: 100%;
}

.left-box{ 
    position: relative;
    max-width: 600px;
    height: auto;
    /* border: 2px solid #4b6cc1; */
    margin: 100px auto;
    padding: 45px;
    box-sizing: border-box;
    text-align: center;
}

.left-projects-btn {
    color: white;
    background-color: #22262a;
    border: 2px solid #4b6cc1;
    padding: 15px;
    font-size: 18px;
    position: relative;
    top: 20px;
}

.left-projects-btn:hover {
    opacity: .9;
    color: white;
}

/* Last two projects */
.my-container {
    text-align: center;
    margin-top: 120px;
    width: 100%;
}

.half-img1 {
    height: 450px;
    width: 100%;
}

.half-img2 {
    height: 450px;
    width: 100%;
}

.title1 {
    margin: 20px;
    font-size: 28px;
}

.title2{
    margin: 20px;
    font-size: 28px;
}

.section-btn {
    text-decoration: none;
    color: white;
    border: 2px solid #4b6cc1;
    background-color: #22262a;
    padding: 15px;
    position: relative;
    top: 35px;
    font-size: 18px;
    z-index: 1;
}

.section-btn:hover {
    opacity: .9;
    color: white;
}


/* About Page and Mobile*/
.about-page {
    margin-top: 250px;
}

.divisor {
    height: 3px;
    width: 50%;
    background-color: #4b6cc1;
    text-align: center;
    position: absolute;
    left: 25%;
    margin-top: -50px;
}

.about-container {
    text-align: center;
    background-color: #e0e0e0;
    width: auto;
}

.hexagon-img1 {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.hexagon-img2 {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.hexagon-img3 {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.label {
    font-size: 32px;
    text-align: center;
    margin-top: 15px;
}

.paragraph {
    font-size: 16px;
    text-align: center;
}

.about-container {
    text-align: center;
    background-color: #e0e0e0;
}

.hexagon-img4 {
    width: 400px;
    height: 400px;
    margin: 30px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    text-align: center;
    margin-top: 75px;
}

.skills-heading {
    color: black;
    text-align: left;
    font-size: 24px;
    margin: 100px 0px 20px 0px;
    /* padding-right: 50px; */
}

.skill-label {
    font-size: 24px;
    text-align: left;
}

.list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills-list li {
    color: black;
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 26px;
    list-style-type: disc;
    margin-left: 15px;
}












/* Contact Page */

.contact-page {
    height: 50vh;
    background-color: #22262a;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.email-heading {
    color: white;
    font-size: 26px;
    text-align: center;
}

.contact-btn {
    font-size: 12pt;
    padding: 10px 30px;
    color: white;
    border: 2px solid #4b6cc1;
    background-color: #22262a;
    position: relative;
    top: 35px;
    font-size: 22px;
}

.contact-btn:hover {
    opacity: .9;
    color: #e0e0e0;
}

.social-wrap {
    margin-top: 125px;
}

.social-menu ul {
    position: absolute;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 30px;
}

.social-menu ul  li .fa {
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}

.social-menu ul li .fa:hover {
    color: #fff;
}

.social-menu ul li a { 
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e0e0e0;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover {
    transform: translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background: #e4405f;
}

.social-menu ul li:nth-child(2) a:hover {
    background: #55acee;
}

.social-menu ul li:nth-child(3) a:hover {
    background: #211f1f;
}

footer {
    width: 100%;
    height: 4vh;
    text-align: center;
    background-color: #22262a;
    color: #e0e0e0;
    font-size: 16px;
}

